 <div class="user-details">
  <h1> Onze standpunten </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Witte producten</h2>
	  <img src="/assets/img/cara.jpg" alt="" height="300em" />
      <p>Witte producten zijn goedkoper en lekkerder</p>
    </div>
    <div class="tech">
      <h2>Weg met taboe rond seks</h2>
	  <img src="/assets/img/kamasutra.png" alt="" height="300em" />
      <p>Vraag meer uitleg bij Jeroen</p>
    </div>
    <div class="tech">
      <h2>Betere voorlichting</h2>
	  <img src="/assets/img/baby.png" alt="" height="300em" />
	  <p> Goede voorlichting kan mensenlevens voorkomen<br> Want de ergste SOA is een baby </p>
    </div>
</div>
