 <div class="user-details">
  <h1> Crew </h1>
  <p> {{site.user_description}} </p>
</div>

  <div class="user">
    <div class="tech"> </div>
    <div class="tech">
      <h2>Praeses</h2>
	  <img src="/assets/img/vanc.jpg" alt="" height="300em" />
      <p>vc  </p>
    </div>
    <div class="tech">
      <h2>Visse-praeses</h2>
	  <img src="/assets/img/roel.jpg" alt="" height="300em" />
      <p>roel</p>
    </div>
    <div class="tech">
      <h2>Communicatie</h2>
	  <img src="/assets/img/q.jpg" alt="" height="300em" />
      <p> Q  </p>
    </div>

    <div class="tech"> </div>
</div>

  <div class="user">
    <div class="tech"> </div>
    <div class="tech">
      <h2>Natuur</h2>
	  <img src="/assets/img/fred.jpg" alt="" height="300em" />
      <p>Fred  </p>
    </div>
    <div class="tech">
      <h2>Camo</h2>
	  <img src="/assets/img/fred.jpg" alt="" height="300em" />
      <p>Fred</p>
    </div>
    <div class="tech">
      <h2>Logi</h2>
	  <img src="/assets/img/fred.jpg" alt="" height="300em" />
      <p> Fred </p>
    </div>

    <div class="tech"> </div>
</div>


  <div class="user">
    <div class="tech"> </div>
    <div class="tech">
      <h2>Sport</h2>
	  <img src="/assets/img/fred.jpg" alt="" height="300em" />
      <p>Fred  </p>
    </div>
    <div class="tech">
      <h2>HR</h2>
	  <img src="/assets/img/helena.jpg" alt="" height="300em" />
      <p>Helena</p>
    </div>
    <div class="tech">
      <h2>Entertainment</h2>
	  <img src="/assets/img/dries.jpg" alt="" height="300em" />
      <p> Dries </p>
    </div>

    <div class="tech"> </div>
</div>

  <div class="user">
    <div class="tech"> </div>
    <div class="tech">
      <h2>IT</h2>
	  <img src="/assets/img/bob.jpg" alt="" height="300em" />
      <p>Bob  </p>
    </div>
    <div class="tech">
      <h2>Onderwijs</h2>
	  <img src="/assets/img/coraal.jpg" alt="" height="300em" />
      <p>Coraal</p>
    </div>
    <div class="tech">
		<h2> Logistiek </h2>
	  <img src="/assets/img/rutgi.jpg" alt="" height="300em" />
      <p> Rutgi </p>
    </div>

    <div class="tech"> </div>
  </div>

  <div class="user">
    <div class="tech"> </div>
    <div class="tech">
      <h2>Ari Plotter</h2>
	  <img src="/assets/img/ari.jpg" alt="" height="300em" />
      <p>Ariane  </p>
    </div>

    <div class="tech">
      <h2>Muurbouw</h2>
	  <img src="/assets/img/donald.jpg" alt="" height="300em" />
      <p>Donald</p>
    </div>
    <div class="tech">
      <h2> Logi Lomond </h2>
	  <img src="/assets/img/rutgi.jpg" alt="" height="300em" />
      <p> Rutgi </p>
    </div>
    <div class="tech"> </div>
  </div>

  <div class="user">
    <div class="tech"> </div>
    <div class="tech">
      <h2>Muziek</h2>
	  <img src="/assets/img/ward.jpg" alt="" height="300em" />
      <p>Ward  </p>
    </div>

    <div class="tech">
      <h2>Knutselen</h2>
	  <img src="/assets/img/arthur.jpg" alt="" height="300em" />
      <p>Arthur</p>
    </div>
    <div class="tech">
      <h2> Logica </h2>
	  <img src="/assets/img/rutgi.jpg" alt="" height="300em" />
      <p> Rutgi </p>
    </div>
    <div class="tech"> </div>
  </div>

