<div class="user-details">
  <h1> Evenementen  </h1>
</div>
<div class="user-projects">
  <div class="images-right">
	  <p><br></p>
	  <p><br></p>
    <img alt="emountains" width=150em src="{{ "/assets/img/voetbal.jpg" | prepend: site.baseurl }}" />
    <img alt="mountains" width=250em src="{{ "/assets/img/fiets.png" | prepend: site.baseurl }}" />

  </div>
  <div class="contents">
    <h3> Fietsvoetbal </h3>
    <p>Voetbal is immer populair, fietsen soms ook, Bram kijkt wel eens naar de koers zegt hij. Maar waarom zien we ze nooit samen? Om dit probleem op te lossen, doen we ne ke goe zot en spelen we fietsvoetbal. De organisatie is niet verantwoordelijk voor komeetinslagen, het uitsterven van dinosauri, de cursus van kwantumfysica of het ontbreken van enig zelfrespect bij onze praeses. </p>
    <a class="project-link" href="http://facebook.com/dewittedroom">Check et ut</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/condoom.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Condoomtasting </h3>
    <p> Voor een goede sekspartij moet je natuurlijk ook eerst eens proeven of je mannelijke wederhelft zijn worstje wel lekker smaakt. Is dat niet het geval, dan hebben we daarvoor een oplossing: smaakcondooms. Bij onze communicatieverantwoordelijke had het alvast succes: zijn saucisse stonk naar een beerput en rook daarna naar febreze. Probeer het condoom wel niet in het openbaar aan te brengen en vraag immer toestemming en meerderjarigheid van uw partner vooraleer te engageren in seksuele activiteiten.  </p>
    <a class="project-link" href="http://facebook.com/dewittedroom">Check et ut</a>
  </div>
</div>
